<!doctype html>
<html class="no-js">
<head>
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<meta charset="utf-8">
	<title>Media Library</title>
	<meta name="description" content="">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

</head>
<body ng-app="mediaLibraryWebApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapsex" data-target="#js-navbar-collapse" ng-click="isCollapsed = !isCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#/">Code:RED Media</a>
			</div>

			<div class="collapse navbar-collapse" id="js-navbar-collapse" uib-collapse="!isCollapsed">

				<ul class="nav navbar-nav">
					<li ng-click="isCollapsed = !isCollapsed"><a href="#/videos/a">Videos</a></li>
					<li><a href="#/latest">Latest</a></li>
					<li class="dropdown" ng-if="isAdmin" uib-dropdown>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>Maintenance <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/admin/videos/raw">Raw</a></li>
							<li><a href="#/admin/videos/inactive">Inactive</a></li>
							<li><a href="#/admin/videos/deleted">Deleted</a></li>
						</ul>
					</li>
					<!--
					<li><a href="#/update">Update</a></li>
					-->
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-controller="AuthCtrl">
					<li ng-click="$parent.isCollapsed = !$parent.isCollapsed;">
						<a ng-controller="SearchCtrl" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal" ng-click="search()">
							<span class="glyphicon glyphicon-search"></span>
						</a>
					</li>
					<li ng-if="!user" ng-click="$parent.isCollapsed = !$parent.isCollapsed"><a href="" ng-click="auth.login()">Login</a></li>
					<li ng-if="user" class="dropdown visible-md visible-sm visible-lg" uib-dropdown>
						
						<a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
							<span class="avatar">
								<img class="img-responsive" ng-src="{{user.avatar}}" alt="">
							</span>								
							<span>{{user.name}} <span class="caret"></span></span>
							
						</a>

						<ul class="dropdown-menu">
							<li><a href="#/favorites">Favorites</a></li>
							<li><a href="" ng-click="auth.logout()">Logout</a></li>
						</ul>						
					</li>
  					<li class="dropdown visible-xs">
  						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-click="isAdminCollapsed = !isAdminCollapsed">
							<span>{{user.name}} <span class="caret"></span></span>
  						</a>
      					<div class="navbar-collapse" uib-collapse="!isAdminCollapsed">
      						<ul class="nav navbar-nav">
								<li ng-click="$parent.isCollapsed = !$parent.isCollapsed"><a href="#/favorites">Favorites</a></li>
								<li ng-click="$parent.isCollapsed = !$parent.isCollapsed"><a href="" ng-click="auth.logout()">Logout</a></li>
      						</ul>	      						
      					</div>
  					</li>

				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div ng-view="" autoscroll></div>
</div>

<!--     <div class="footer">
<div class="container">
<p><span class="glyphicon glyphicon-heart"></span> Footer</p>
</div>
</div>
-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
// !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
// (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
// r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
// }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

// ga('create', 'UA-XXXXX-X');
// ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/admin/videos.js"></script>
<script src="scripts/controllers/videos.js"></script>
<script src="scripts/controllers/latest.js"></script>
<script src="scripts/controllers/user.js"></script>
<script src="scripts/controllers/search.js"></script>
<script src="scripts/controllers/auth.js"></script>
<script src="scripts/controllers/modal.js"></script>

<script src="scripts/directives/get-video.js"></script>
<script src="scripts/directives/show-poster.js"></script>
<script src="scripts/directives/image-loader.js"></script>

<script src="scripts/services/utils.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/services/auth.js"></script>
<script src="scripts/services/genre.js"></script>
<script src="scripts/services/video.js"></script>
<script src="scripts/services/imdb.js"></script>
<script src="scripts/directives/videoviews.js"></script>
<script src="scripts/controllers/update.js"></script>
<!-- endbuild -->
</body>
</html>
