<h1 class="page-header">Latest Releases</h1>
<div class="row">
	<div class="col-sm-4 col-md-3" ng-repeat="item in videos">
		<video-views />
	</div>
</div>




<div class="footer text-center">
	<ul class="list-inline">
		<li ng-repeat="(key, value) in TOC"><a href="#/videos/{{value}}">{{value}}</a></li>
	</ul>
</div>







